*
!*/
!*.md
!.git*
!LICENSE

!*.v
!*.xdc
!*.h

!*.pdf
!*.tex
!*.png
!*.jpg

Lab03-Lab09/CPU_CDE/func/
Lab03-Lab09/CPU_CDE/gettrace/
Lab03-Lab09/CPU_CDE/mycpu_verify/run_vivado/
Lab03-Lab09/CPU_CDE/mycpu_verify/testbench/
Lab03-Lab09/CPU_CDE/mycpu_verify/rtl/BRIDGE/
Lab03-Lab09/CPU_CDE/mycpu_verify/rtl/CONFREG/
Lab03-Lab09/CPU_CDE/mycpu_verify/rtl/xilinx_ip/
Lab03-Lab09/CPU_CDE/mycpu_verify/rtl/soc_lite_top.v

Lab11-Lab15/CPU_CDE_AXI/func/
Lab11-Lab15/CPU_CDE_AXI/gettrace/
Lab11-Lab15/CPU_CDE_AXI/mycpu_axi_verify/run_vivado/
Lab11-Lab15/CPU_CDE_AXI/mycpu_axi_verify/testbench/
Lab11-Lab15/CPU_CDE_AXI/mycpu_axi_verify/rtl/axi_wrap/
Lab11-Lab15/CPU_CDE_AXI/mycpu_axi_verify/rtl/ram_wrap/
Lab11-Lab15/CPU_CDE_AXI/mycpu_axi_verify/rtl/CONFREG/
Lab11-Lab15/CPU_CDE_AXI/mycpu_axi_verify/rtl/xilinx_ip/
Lab11-Lab15/CPU_CDE_AXI/mycpu_axi_verify/rtl/soc_axi_lite_top.v

Lab13_TLB/rtl/xilinx_ip/
Lab13_TLB/rtl/tlb_top.v
Lab13_TLB/run_vivado/
Lab13_TLB/testbench/
